
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

input, button, submit { border:none; }

/*Gets rid of the dumb link styling; I hate it.*/
*:link,*:visited {
  color: white;
  text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(54, 57, 62);
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

/*This nav is going to be the full width, but with the elements inside of it padded. Let's also go with a flexbox to align them.*/
nav {
  /*Affixes to the top left of the screen and fills the entire width*/
  position: fixed;
  left: 0px;
  top: 0px;
  /*Size and padding*/
  height: 50px;
  width: 100vw;
  /*Padding both sides by 20% of the view width and setting the text to be vertically-aligned slightly above center*/
  /*Erm also idk why but its not totally centered with 20/20 so 18/20 for now haha*/
  padding-left: 18%;
  padding-right: 20%;
  line-height: 50px;
  /*Changing the border to be slighly more aesthetic*/
  background-color: rgb(50, 54, 59);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.45);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.45);

  /*Flexbox parent styles. Helps align the items*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;


  /*imo it looks better without border-radius
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;*/
}

/*Replacing unordered list with a flexbox. Simplifies styling!!*/
nav a {
  flex: 1 1 auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.3em;
  transition: 0.1s;
}

nav a:hover {
  border-bottom: 3px solid white;
  transition: 0.1s;
}


footer {
    background-color: rgb(50, 54, 59);
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
footer ul {
    float: left;
    font-size: 80%;
}
footer ul li:first-child {
    font-weight: bold;
    letter-spacing: 1.5px;
}

#hero {
  background: linear-gradient( rgba(50, 54, 59, 0.5),rgba(50, 54, 59, 0.5) ),url('../img/heropattern.png');
}

#header {
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 1500px;
    margin: 0 auto;
    padding: 3vw 8vw 5vw 8vw;
    display: flex;
}

#header hgroup {
  padding-top: 5%;
}

#header h1 {
    font-size: 4em;
    font-weight: bold;
    height: 25px;
}
#header h2 {
    font-size: 1.5em;
    font-weight: 100;
}
#header img {
    padding-top: 10%;
    max-width: 300px;
}

#header p {
}

#mainBody {
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
}
/*For FAQs page!*/
#faq_page { 
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 1500px;
    margin: 0 auto;
    padding: 3vw 8vw 5vw 17.4vw;
    display: flex;
    font-weight: strong;
}
/*For Commands page!*/
#commands_page {
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 1500px;
    margin: 0 auto;
    padding: 3vw 8vw 5vw 17.4vw;
    display: flex;
    font-weight: strong;
}

#commands_text {
	font-weight: bold;
}

.btn {
  flex: 1 1 auto;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
